settings
/.project
/.classpath
/target
zcm-product-sale-client/target
zcm-product-sale-server/target
/demo
/.mymetadata
/logs
/.myeclipse/
/src/main/webapp/WEB-INF/lib
#/src/main/webapp/crossdomain.xml
/.reverse.properties
/src/main/webapp/WEB-INF/conf/database.properties
/bin
.idea/
/mtct.iml
mtct_new.iml
/.settings/.jsdtscope
/out
*.iml
.DS_Store
/*.iml
*.class
*.war
/.idea
*.ipr
*.iws
*.kms.log
*.gz
*.swp
$*
*.log
logs/
